*~
*.a
*.armv7l
*-backups
*.class
*.ftb
*.lst
*.o
*.obj
*.x86_64
.nfs*
div
fp-info-cache
gerber
obj_dir
pix
test
ccode/km*/*.ko
ccode/km*/*.mod
ccode/km*/*.mod.c
ccode/km*/*.o
ccode/km*/.*
ccode/km*/Module.symvers
ccode/km*/modules.order
