*~
*.a
*-backups
*.class
*.ftb
*.o
*.armv7l
*.x86_64
div
fp-info-cache
gerber
obj_dir
pix
test
ccode/km*/*.ko
ccode/km*/*.mod
ccode/km*/*.mod.c
ccode/km*/*.o
ccode/km*/.*
ccode/km*/Module.symvers
ccode/km*/modules.order
