*~
*.class
*.jar
.Xil
.nfs*
BOOT.BIN.gz
image.ub
pdp1134.cache
pdp1134.hw
pdp1134.ip_user_files
pdp1134.runs
pdp1134.sim
pdp1134.srcs
myboard/hw_handoff
myboard/ip
myboard/ipshared
myboard/myboard.bxml
myboard/myboard_ooc.xdc
myboard/sim
myboard/synth
myboard/ui
vivado*.jou
vivado*.log
vivado*.str
hs_err*.log
